.sidenav-cont {
    margin: 0;
    padding: 0 4px;
    width: 70px;
    margin-left: 10px;
}
.side-navbar {}
.sidenav-list {
    height: 70px;
    width: 100%;
    padding: 8px 0;
    cursor: pointer;
    border-radius: 8px;
}
.sidenav-list:hover {
    background-color: #ebebeb;
}
.sidenav-list-icon {
    width: 100%;
    padding-top: 4px;
}
.sidenav-list-name {
    padding-bottom: 4px;
    margin: 0;
    text-align: center;
    font-size: 10px;
    margin-top: 4px;
}
.sidenav-list-icon svg {
    font-size: 22px;
}